extends layout

block head
  title Create a new mapping

block content
  h1 Create a new mapping

  div.alert.alert-danger#feedback(style='display: none;')

  form
    | Name: 
    input#from(type="text")
    br
    br
    | To: 
    input#to(type="text")
    br
    br
    input#create-mapping(type="submit", value="Create this mapping")

block specificJs
  script(type="text/javascript", src="/assets/js/create-mapping.js")
