extends layout

block head
  title Create a new mapping




block content
  h1 Create a new mapping

  form
    | From:&nbsp;
    input#from(type="text")
    br
    br
    | To:&nbsp;
    input#to(type="text")
    br
    br
    input#create-mapping(type="submit", value="Create this mapping")




block specificJs
  script(type="text/javascript", src="/assets/js/create-mapping.js")
