doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(href="/assets/lib/bootstrap/css/bootstrap.min.css", rel="stylesheet")
    link(href="/assets/css/layout.css", rel="stylesheet")

    block head

  body
    nav(class="navbar navbar-inverse navbar-fixed-top", role="navigation")
      div.container
        div#navbar(class="collapse navbar-collapse")
          ul(class="nav navbar-nav")
            li(class=create ? 'active' : '')
              a(href="/web/create") Create new mapping
            li(class=list ? 'active' : '')
              a(href="/web/list") See all mappings
            li
              a(href="/logout") Logout

          ul(class="nav navbar-nav navbar-right")
            li
              a= username

    block content

    script(type="text/javascript", src="/assets/lib/jquery/jquery-1.11.1.min.js")
    block specificJs
