extends layout

block head
  title List all mappings

block content
  h1 All active mappings
  br
  br

  ul
    each val in mappings
      li
        a(href='/web/view/'+val.from) #{val.from} -> #{val.to}


